# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
changelog.txt
README.txt
CREDITS.txt

# dev notes
dev-notes/

# patch notes
PATCHNOTES-*.md

# локальные jar'ы
libs/
